<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookMarkLibrary_master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">
    {% block static%}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">

</head>
<body>
<nav>
    <div>
        <div class="home-logo">
            <a  class="link-style-none" href="{{ url_for('home')}}"><h1>BookMarkLibrary</h1></a>

        </div>
        <div>
            <ul class="list-style-none flex flex-items-center">
                <li><a class="manu" href="{{ url_for('library.urls') }}">library</a></li>

            </ul>
        </div>

    </div>


    <div class="authenticate flex-items-center">
        {% if current_user.is_authenticated %}

        <div>
            <p>
               Hi!<br/> {{ current_user.email }}
            </p>

        </div>
        <div class="logout-box">
                <a class="logout" href="{{ url_for_security('logout') }}">Log out</a>
        </div>
        {% else %}
            <div>
                    <a class="register" href="{{ url_for_security('register') }}">Sign Up</a>

            </div>
            <div>
                    <a class="login" href="{{ url_for_security('login') }}">Sign In</a>

            </div>
        </div>
    {% endif %}
</nav>
<section class="content">
    {% block content %}{% endblock %}
</section>
{% block modal %}{% endblock %}
{% block script%}{% endblock %}
    <script src="{{ url_for('static', filename='dist/js/dist.js') }}"></script>

</body>
</html>
